[pull]
	rebase = true
[user]
	name = Scott Kensell
	email = skensell@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[push]
	default = upstream
[merge]
	tool = vimdiff
[http]
	cookiefile = /Users/skensell/.gitcookies
